
<ul class="list-group">
    <li class="list-group-item"><a asp-action="importation" asp-controller="Traitement" asp-area="Courrier" class="btn btn-success btn-block btn-site-menu">Importer</a></li>
    <li class="list-group-item"><a asp-action="Mesdossiers" asp-controller="Demande" asp-area="Courrier" class="btn btn-success btn-block btn-site-menu">Dossiers entrants</a></li>
    <li class="list-group-item"><a asp-action="Mesinstances" asp-controller="Demande" asp-area="Courrier" class="btn btn-success btn-block btn-site-menu">Mes instances</a></li>
    <li class="list-group-item"><a asp-action="Messorties" asp-controller="Demande" asp-area="Courrier" class="btn btn-success btn-block btn-site-menu">Dossiers sortrants</a></li>

    <li class="list-group-item"><a asp-area="Courrier" asp-controller="ActeAdministratif" asp-action="Autorisation" class="btn btn-success btn-block btn-site-menu">Autorisations</a></li>
    <li class="list-group-item"><a asp-area="Courrier" asp-controller="ActeAdministratif" asp-action="Decision" class="btn btn-success btn-block btn-site-menu">Décisions</a></li>
    <li class="list-group-item"><a asp-area="Courrier" asp-controller="Demande" asp-action="Suivi" class="btn btn-success btn-block btn-site-menu">Suivi du dossier</a></li>
    <li class="list-group-item"><a href="http://www.minat.gov.cm/" class="btn btn-warning btn-block">MINAT</a> </li>
</ul>
<div class="col-6">
    
</div>