<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 0.0.2
    </div>
    <strong>Copyright &copy; 2022 - @{var date = DateTime.Now.Year.ToString(); @date;} / MINAT <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>.</strong> All rights
    reserved.
</footer>